@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

* {
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 1px;
	line-height: 1.2;
}

body {
	background: #131513;
	color: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #3a3c3a;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #32c5aa;
}


.flexCont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.startBtn {
	width: 100%;
	max-width: 400px; 
	background-color:#32c5aa; 
	color: white; 
	border: none; 
	border-radius: 0px; 
	padding: 10px; 
	margin-bottom: 10px;
	transition: 0.3s;
}
.startBtn:hover {
	background-color: white;
	color: #32c5aa;
	box-shadow: inset 0 0 0 2px #32c5aa;
}

.times-up {
	width: 100%;
	max-width: 600px;
	margin: auto;
	color: white;
	text-align: center;
	font-size: 4rem;
}
.times-up img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	max-width: 400px;
	margin-bottom: 30px;
}
.times-up p:nth-child(3) {
	font-size: 3rem;
}

.hr-timer {
	font-size: 10em;
	text-align: center;
}
.hr-timer p {
	font-family: 'Teko', sans-serif;
	margin-bottom: 0;
	color: white;
}
@media only screen and (max-width: 767px) {
	.hr-timer {font-size: 32px;}
}
